@import "tailwindcss";

body {
  @apply font-mono;
}

@theme {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-title: var(--title);
  --color-primary: var(--primary);
}

:root {
  --background: white;
  --text: #5a5a5a;
  --title: black;
  --primary: #ffdb33;
}

.dark {
  --background: #1a1a1a;
  --text: #a0a0a0;
  --title: #f5f5f5;
  --primary: #ffdb33;
}
